
.SerachArea{
    border: 2px solid white;
    width: 83.1vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}

.SerachBar{
    height: 10vh;
    width: 30vw;
    position: relative;
    top: 20px;
    left: 100px;
}

.serachBox{
    width: 85%;
    height:70%;
    border-radius: 15px;
    background-color: white;
    color: black;
}

